<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Head:</strong>
  <%= @post.head %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @post.parent_id %>
</p>

<p>
    <strong>Childs</strong>
    <% @childs.each do |c| %>
        <%= link_to c.name, @post.name+"/"+c.name %>
    <% end %>
</p>

<%= link_to "Root", :root%>
<%= link_to "Edit", post_edit_path(@post) %>
